/* 样式初始化 */
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: url(/assets/images/login_bg.jpg) no-repeat center;
    background-size: cover;
}

/* 登录、注册区域 */
.loginAndRegBox {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 310px;
    background-color: #fff;
}

.title-box {
    height: 60px;
    background: url(/assets/images/login_title.png) no-repeat center;
}

/* 登录的表单 */
.layui-form {
    padding: 0 30px;
}

/* 去注册账号 (利用弹性盒子布局，让弹性盒子元素将向结束位置对齐)*/
.links {
    display: flex;
    justify-content: flex-end;
}

.links a {
    font-size: 12px;
}

/* 利用定位绘制文本框里面的图标 */
.layui-form-item {
    position: relative;
}

.layui-icon {
    position: absolute;
    left: 10px;
    top: 10px;
}

.layui-input {
    padding-left: 32px;
}

/* 注册 */
.reg-box {
    display: none;
}